/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

a, a:visited {
  text-decoration: none;
}

.border-bot {
  height: 2px;
  background-color: #676868;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

ul {
  list-style: none;
}

.container {
  height: calc(100vh - 90px);
  width: 100%;
}

/* ASIDE MENU */
aside nav {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 90px);
  width: 250px;
  background-color:#000;
  float: left;
  overflow: hidden;
}

aside nav .logo {
  padding: 15px;
  width: 200px;
}

aside nav .logo img {
  height: 50px;
}

aside nav ul {
  padding-bottom: 20px;
  font-size: 16px;
}

aside nav ul li {
  color: #676868;
  padding: 5px 25px;
  cursor: pointer;
}

aside nav ul li:hover {
  color: white;
}

aside nav ul li:hover .fa-plus {
  background-color: #fff;
}

aside nav .nav-top {
  display: flex;
  flex-direction: column;
  height: calc(100% - 83px);
  min-height: 420px;
}

aside nav .nav-top .menu img {
  height: 24px;
  vertical-align: middle;
}

aside nav .nav-top ul.playlists {
  overflow: auto;
}

aside nav .nav-top ul.playlists li {
  padding-bottom: 10px;
}

aside nav ul li.active {
  color: white;
  border-left: 2px solid #B2FF36;
}

aside nav ul li span {
  text-transform: uppercase;
  color: white;
}


aside nav ul li .fa-plus {
  font-size: 18px;
  color: #000;
  background-color: #676868;
  padding: 8px 10px;
  margin-right: 5px;
  vertical-align: middle;
}

aside nav .nav-bottom {
  display: flex;
  flex-direction: column;
  height: 83px;
  color: #676868;
}

aside nav .nav-bottom ul {
  padding-bottom: 0;
}

aside nav .nav-bottom ul li img.download-app {
  height: 22px;
  width: 22px;
  vertical-align: middle;
  filter: invert(.5);
}

aside nav .nav-bottom ul li .border-bot {
  width: 200px;
  margin: 10px 0 0 0;
}

aside nav .nav-bottom ul li img.propic {
  height: 28px;
  width: 28px;
  background-color:#676868;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 5px;
}

aside nav .nav-bottom ul li span.profile-name {
  font-size: 16px;
  text-transform: capitalize;
}

/* MAIN CONTENT */

main {
  height: 100%;
  width: calc(100% - 250px);
  background-color: #141923;
  float: left;
  overflow: auto;
}

section {
  position: fixed;
  top:0;
  right: 0;
  z-index: 999;
  height: 90px;
  width: calc(100% - 250px);
  background-color: rgba(0, 0, 0, .5);
}

section .button {
  display:flex;
  justify-content: flex-end;
  padding: 20px;
  /* font-size: 1.2vw; */
}


section .button a:hover {
  transform: scale(1.1);
  margin-right: 10px;
}

section .button a, section .button a:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  padding: 10px 40px;
  transition: all .3s;
}

main .categories {
  padding-top: 100px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

main .categories li {
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 14px;
}

main .categories li a {
  color: #676868;
}

main .categories li .active-border {
  margin: 0 auto;
  width: 30px;
  height: 2px;
  background-color:#B2FF36;
}

main .categories li:hover a {
  color: white;
}

main .content {
  padding: 20px;
}

main .content h3 {
  color: #fff;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 28px;
}

main .content p {
  color: #676868;
  padding-left: 10px;
  padding-bottom: 20px;
}

main .content .row {
  display: flex;
}

main .content .row:not(:last-child) {
  padding-bottom: 25px;
}

main .content .card {
  width: calc(100% / 6);
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

main .content .card .card-img {
  position: relative;
  flex-shrink: 0;
}

main .content .card .card-img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 3vw;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all .3s;
}

main .content .card:hover .overlay {
  opacity: 1;
}

main .content .card-img.rounds img {
  border-radius: 50%;
}

main .content .card .card-img .overlay.rounds {
  border-radius: 50%;
}

main .content .card .card-img img{
  width: 100%;
  display: block;
}

main .content .card .card-txt {
  width: 100%;
  padding-top: 10px;
}

main .content .card .card-txt h4 {
  color: white;
  padding-bottom: 10px;
}

main .content .card .card-txt p {
  color: #676868;
  font-size: 11px;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: #282828;
}

.player .player-left{
  padding: 15px;
  max-width: 300px;
}

.player .player-left ul {
  display: flex;
  align-items: center;
}

.player .player-left ul li {
  display: inline-block;
}

.player .player-left ul li .player-img {
  width: 60px;
  height: 60px;
  padding-right: 7px;
}

.player .player-left ul li .player-img img {
  width: 100%;
}

.player .player-left ul li .song .song-title {
  color: white;
  font-size: 12px;
}

.player .player-left ul li .song .author {
  color: #676868;
  font-size: 11px;
}

.player .player-left ul li .fav {
  color: #676868;
  font-size: 20px;
  padding-left: 20px;
  cursor: pointer;
}

.player .player-left ul li .fav i.fa-heart:hover, .player .player-left ul li .fav i.fa-folder:hover  {
  color: white;
}

.player .player-left ul li .fav i {
  padding-left: 5px;
}

.player .player-mid {
  display: flex;
  flex-direction: column;
  width: 40%;
  /* height: 100%; */
  align-items: center;
  text-align: center;
}

.player .player-mid .controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player .player-mid .controls ul li {
  display: inline-block;
}

.player .player-mid .controls i {
  color: #fff;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}

.player .player-mid .controls i.fa-play-circle {
  font-size: 30px;
  transition: all .3s;
}

.player .player-mid .controls i.fa-play-circle:hover {
  transform: scale(1.3);
}

.player .player-mid .player-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player .player-mid .player-bar span {
  color: #fff;
  font-size: 12px;
}

.player .player-mid .player-bar .bar {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 3px;
  margin: 0 10px;
  background-color:#676868;
  vertical-align: middle;
}

.player .player-mid .player-bar .bar.short-bar {
  position: absolute;
  left: -10px;
  background-color: #fff;
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.player .player-mid .player-bar .bar.short-bar .handle {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.1s;
  cursor: pointer;
}

.player .player-mid .player-bar .bar:hover .handle {
  opacity: 1;
}

.player .player-mid .player-bar .bar:hover .bar.short-bar {
  background-color: #B2FF36;
}

.player .player-right {
  display: flex;
  justify-content: space-around;
  max-width: 300px;
}

.player .player-right ul li {
  display: inline-block;
  padding: 5px;
}

.player .player-right ul li i {
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.player .player-right .bar {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 3px;
  margin: 0 10px;
  background-color:#676868;
  vertical-align: middle;
}

.player .player-right .bar.short-bar {
  position: absolute;
  left: -10px;
  background-color: #fff;
  width: 40%;
}

.player .player-right .bar.short-bar .handle {
  position: absolute;
  top: -5px;
  left: 32px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.1s;
  cursor: pointer;
}

.player .player-right .bar:hover .handle {
  opacity: 1;
}

.player .player-right .bar:hover .bar.short-bar {
  background-color: #B2FF36;
}


/* MEDIA QUERY PARTE RESPONSIVE */

/*md*/
@media screen and (max-width: 991px) {
  
section .button {
  font-size: 12px;
  }

  main .content .row {
    flex-wrap: wrap;
  }

  main .content .card {
    width: calc(100% / 4);
  }

  main .categories {
  flex-wrap: wrap;
  }
}


/*sm*/

@media  screen and (max-width: 767px) {

  section .button {
    font-size: 10px;
    }
  
  main .content .card {
    width: 50%;
  }
  
}